<div class="popup__content _popup-content">
	<div class="basket">
		<div class="basket__close" onclick="o2.popup.close()">{% include '/assets/svg/close.svg' %}</div>
			<h2 class="basket__header">Корзина</h2>
			<div class="basket__list _basket-list">
				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">1 280 000 000 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="0">0</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">100 280 000 000 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="1">0</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="2">0</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="3">0</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="4">2</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="5">4</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item _basket-item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, false)">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter" data-id-counter="6">0</div>
						<button class="basket__button" onclick="o2.basket.onButton(this, 1, true)">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>
			</div>

		<div class="basket__footer">
			<div class="basket__footer-text">
				<span class="basket__price _sum">0 ₽</span>
				<span class="basket__counter _counters">0 товаров</span>
			</div>
			<button class="basket__footer-button">Оформить заказ</button>
		</div>
	</div>
</div>
{# <script>o2.basket.init([{name: '1'}, {name: '2'}]);</script> #}