<div class="_content">
	<div class="basket">
		<div class="basket__close" onclick="o2.popup.close()">{% include '/assets/svg/close.svg' %}</div>
			<h2 class="basket__header">Корзина</h2>
			<div class="basket__list">
				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>
	
				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>

				<div class="basket__item">
					<picture>
						<source srcset="./img/image.webp" type="image/webp">
						<img class="basket__img" src="./img/image.jpg" alt="image name">
					</picture>
					<div class="basket__text">
						<div class="basket__text-title">Aesop</div>
						<div class="basket__text-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _price">5 600 ₽</div>
					</div>
					<div class="basket__buttons _buttons">
						<button class="basket__button" onclick="o2.basket.minus()">{% include '/assets/svg/busketMinus.svg' %}</button>
						<div class="basket__button basket__button--color-inversion _counter">0</div>
						<button class="basket__button" onclick="o2.basket.plus()">{% include '/assets/svg/busketPlus.svg' %}</button>
					</div>
				</div>
			</div>

		<div class="basket__footer">
			<div class="basket__footer-text">
				<span class="basket__price _sum">0 ₽</span>
				<span class="basket__counter _counters">0 товаров</span>
			</div>
			<button class="basket__footer-button">Оформить заказ</button>
		</div>
	</div>
</div>
