<section class="basket _basket-content">
	<div class="basket__wrapper _basket">
		<div class="basket__close" onclick="o2.popup.close()">{% include 'assets/svg/close.svg' %}</div>
		<div class="basket__title">Корзина</div>
		<ul class="basket__list">
			<li class="basket__item _basket-item" data-index-item="1">
				<div class="basket__item-content">
					<div class="basket__item-img-wrapper">
						<picture class="basket__item-picture">
							<source class="_item-source" srcset="img/img1.webp" type="image/webp">
							<img class="basket__item-img _item-jpg" src="img/img1.jpg" alt="Logo" width="57px">
						</picture>
					</div>
					<div class="basket__text">
						<div class="basket__text-brand _item-brand">Aesop</div>
						<div class="basket__text-name _item-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _basket-price">5 600 ₽</div>
					</div>
				</div>
				<div class="basket__form">
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '-1')">{% include 'assets/svg/basketMinus.svg' %}</button>
					<div class="basket__form-input _basket-input">5</div>
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '+1')">{% include 'assets/svg/basketPlus.svg' %}</button>
				</div>
				<div class="basket__item-mask _item-mask">
					<button class="basket__btn-mask" onclick="o2.basket.deleteItem(this)">Удалить</button>
					<button class="basket__btn-mask" onclick="o2.basket.removeMaskForItem(this)">Вернуть</button>
				</div>
			</li>
			<li class="basket__item _basket-item" data-index-item="2">
				<div class="basket__item-content">
					<div class="basket__item-img-wrapper">
						<picture class="basket__item-picture">
							<source class="_item-source" srcset="img/img1.webp" type="image/webp">
							<img class="basket__item-img _item-jpg" src="img/img1.jpg" alt="Logo" width="57px">
						</picture>
					</div>
					<div class="basket__text">
						<div class="basket__text-brand _item-brand">Aesop</div>
						<div class="basket__text-name _item-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _basket-price">5 600 ₽</div>
					</div>
				</div>
				<div class="basket__form">
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '-1')">{% include 'assets/svg/basketMinus.svg' %}</button>
					<div class="basket__form-input _basket-input">5</div>
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '+1')">{% include 'assets/svg/basketPlus.svg' %}</button>
				</div>
				<div class="basket__item-mask _item-mask">
					<button class="basket__btn-mask" onclick="o2.basket.deleteItem(this)">Удалить</button>
					<button class="basket__btn-mask" onclick="o2.basket.removeMaskForItem(this)">Вернуть</button>
				</div>
			</li>
			<li class="basket__item _basket-item" data-index-item="3">
				<div class="basket__item-content">
					<div class="basket__item-img-wrapper">
						<picture class="basket__item-picture">
							<source class="_item-source" srcset="img/img1.webp" type="image/webp">
							<img class="basket__item-img _item-jpg" src="img/img1.jpg" alt="Logo" width="57px">
						</picture>
					</div>
					<div class="basket__text">
						<div class="basket__text-brand _item-brand">Aesop</div>
						<div class="basket__text-name _item-name">Rose Hair & Scalp Moisturising Masque</div>
						<div class="basket__text-price _basket-price">5 600 ₽</div>
					</div>
				</div>
				<div class="basket__form">
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '-1')">{% include 'assets/svg/basketMinus.svg' %}</button>
					<div class="basket__form-input _basket-input">5</div>
					<button class="basket__form-btn" onclick="o2.basket.onClick(this, '+1')">{% include 'assets/svg/basketPlus.svg' %}</button>
				</div>
				<div class="basket__item-mask _item-mask">
					<button class="basket__btn-mask" onclick="o2.basket.deleteItem(this)">Удалить</button>
					<button class="basket__btn-mask" onclick="o2.basket.removeMaskForItem(this)">Вернуть</button>
				</div>
			</li>
		</ul>
		<div class="basket__footer">
			<div class="basket__text">
				<div class="basket__footer-summary _basket-summary">9 968 ₽</div>
				<div class="basket__footer-amount _basket-amount">5 товаров</div>
			</div>
			<button class="basket__footer-btn">Оформить заказ</button>
		</div>
	</div>
</section>