.basket__wrapper
{
	position: relative;
	display: flex;
	flex-direction: column;

	padding: 63px 16px 10px 16px;
	width: 100%;
	max-width: 428px;
	height: 100%;
	max-height: 752px;
	background: #FFFFFF;
	border-radius: 20px;
	overflow: hidden;
}
.basket__close
{
	position: absolute;
	top: 16px;
	right: 16px;
}
.basket__title
{
	margin: 0 0 22px 0;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -0.4px;
	color: #131313;
}

.basket__list
{
	display: grid;
	align-content: start;
	grid-gap: 8px;
	margin: 0 0 10px 0;
	height: 100%;
	max-height: 564px;
	overflow: auto;
}
.basket__item
{
	display: flex;
	grid-gap: 16px;
	align-items: center;
	padding: 4px 16px 4px 4px;
	background: #F2F2F2;
	border-radius: 8px;
}
.basket__item-content
{
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
}

.basket__item-img-wrapper
{
	display: flex;
	align-items: center;
	flex: 0 0 25%;
	min-height: 88px;
	background: #FFFFFF;
	border-radius: 5px;
}

.basket__item-picture
{
	display: flex;
}

.basket__item-img
{
	height: 69px;
	width: 64px;
	object-fit: contain;
}
.basket__text
{
	display: block;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
}
.basket__text-brand
{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #9F9F9F;
}
.basket__text-name
{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.1px;
	color: #3F4043;
}
.basket__text-price
{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: #3F4043;
}
.basket__form
{
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 4px;
}
.basket__form-btn
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #131313;
	border-radius: 50%;
}
.basket__form-input
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: none;
	background: #131313;
	border-radius: 50%;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}
.basket__footer
{

	display: flex;
	justify-content: space-between;
}
.basket__footer-summary
{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: 0.3px;
	color: #131313;
}
.basket__footer-amount
{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.1px;
	color: #9F9F9F;
}
.basket__footer-btn
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	border: none;
	width: 100%;
	max-width: 164px;
	height: 44px;
	background: #131313;
	border-radius: 100px;

	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}