{# <div class="popup__content _popup-content">
	<div class="basket">
		<div class="basket__close" onclick="o2.popup.close()">{% include '/assets/svg/close.svg' %}</div>
			<h2 class="basket__header">Корзина</h2>
			<div class="basket__list _basket-list">
		
			</div>
		<div class="basket__footer">
			<div class="basket__footer-text">
				<span class="basket__price _sum">0 ₽</span>
				<span class="basket__counter _counters">0 товаров<span>
		</div>
			<button class="basket__footer-button">Оформить заказ</button>
		</div>
	</div>
</div> #}
{# <script>o2.basket.init([{name: '1'}, {name: '2'}]);</script> #}