{% extends "layouts/layout.twig" %}

{% block page %}
<div class="container">
		<button onclick="o2.popup.open('._basket-content')">Basket</button>
		{% include '/blocks/basket/basket.twig' %}
		{% include '/blocks/popup/popup.twig' %}
</div>
{% endblock %}