<div class="select _select">
	<div class="select__header" onclick="o2.sel.toggle(this)">
		<span class="select__header-value _select-value">Item 1</span>
		<div class="select__header-icon">{% include 'assets/svg/arrow.svg' %}</div>
	</div>
	<ul class="select__list _select-list">
		<li class="select__item _select-item" onclick="o2.sel.changeValue(this)">Item 1</li>
		<li class="select__item _select-item" onclick="o2.sel.changeValue(this)">Item 2</li>
		<li class="select__item _select-item" onclick="o2.sel.changeValue(this)">Item 3</li>
	</ul>
</div>