.popup
{
	display: none;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999999;
	background: rgba(0, 0, 0, 0.5);

}

.popup-content
{
	position: absolute;
	left: -100%;
	max-width: 600px;
	border-radius: 5px;
	background-color: white;
	margin: 100px auto;
	transform: translateY(-10px);
}
._open
{
	display: flex;
}

._close{
	z-index: 9999999999;
}